{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h2>{{ title }}</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <fieldset>
    {{ form.sku.label_tag }} {{ form.sku }} {{ form.sku.errors }}
    {{ form.name.label_tag }} {{ form.name }} {{ form.name.errors }}
    {{ form.category.label_tag }} {{ form.category }} {{ form.category.errors }}
    {{ form.quantity_on_hand.label_tag }} {{ form.quantity_on_hand }} {{ form.quantity_on_hand.errors }}
    {{ form.reorder_level.label_tag }} {{ form.reorder_level }} {{ form.reorder_level.errors }}
    {{ form.is_active.label_tag }} {{ form.is_active }} {{ form.is_active.errors }}
    {{ form.image.label_tag }} {{ form.image }} {{ form.image.errors }}
  </fieldset>
  <fieldset>
    <legend>Tags</legend>
    <div>{{ form.tags }}</div>
    <div>
      {{ form.new_tags.label_tag }} {{ form.new_tags }}
      <div style="font-size:12px;color:#555">{{ form.new_tags.help_text }}</div>
      {{ form.new_tags.errors }}
    </div>
  </fieldset>

  <button type="submit" name="save">Save</button>
  <a href="{% url 'inventory:product_list' %}" style="margin-left:8px">Cancel</a>
</form>
{% endblock %}
